<h2>Recipes</h2>
  <div>
    <% @recipes.each do |r|%>
      <div>
        <%= link_to r.name, user_recipe_path(r.user_id,r.id)%><br>
        <%# <%= button_to 'Remove',user_recipe_path(@user,), method: :delete %>
      </div>
    <%= r.description%><br>
  </div>
<%end%>