<div>
  <h1>Recipes</h1>
  <h3><%= link_to 'Click to Add new Recipe', new_recipe_path %></h3>
  <div>
    <% if @recipes.empty? %>
      <p>No recipe's added yet, click button to add a new recipe</p>
    <% end %>
    <% @recipes.each do |recipe| %>

        <h3><%= link_to "#{recipe.name}", recipe_path(recipe.id) %></h3>

        <%= button_to "Delete recipe", recipe_path(recipe.id), method: :delete %>

        <p><%= recipe.description %></p>

    <% end %>
  </div>
</div>